HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!demo/src/main/java/com/del/demo/controllers
!demo/src/main/java/com/del/demo/entity
!demo/src/main/java/com/del/demo/repository
!demo/src/main/resources/static
!demo/src/main/resources/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


