
/* index.html */
.search-field{
    width: 100%;
    max-width: 400px;
    margin-left: 30%;

}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .search-field{
        width: 100%;
        margin-left: 2%;
    }
}
.navbar-nav{
    right: 12%;
    margin-left: 4%;
    gap: 4%;

}
.nav-item{
    margin-left: 0;
    
}
/* #f26a17 */
.btn-outline-primary{
    color: #f26a17 !important;
    border-color: #f26a17 !important;
    border-radius: 6px !important;
}
.btn-outline-primary:hover{
    background-color: #f26a17 !important;
    color: white !important;

}
.btn-primary{
    background-color: #f26a17 !important;
    border-color: #f26a17 !important;
    border-radius: 6px !important;
}
.btn-primary:hover{
    background-color: #d65e13 !important;
    border-color: #d65e13 !important;
}
.nav-link{
    color: black !important;
}
.bg-image{
    background-size: cover;
    min-height: 50vh;
    position: relative;
    color: black;

}
.color-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255, .2);
}
.mid-content{
    margin-top: 4%;
    margin-left: 4%;
}
.card-content{
    display:inline-flex; 
    justify-items: center; 
    gap: 4%;
    margin-top: 2%;
}
.card-button{
    border: none;
    background: none;
    text-align: left;
}
.card-button:hover{
    transform: translateY(-5px);
    transition: all 0.3s ease;
}
.card{
    width: 400px;
    border-radius: 16px !important;
    overflow: hidden;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2), 0 8px 4px 0 rgba(0, 0, 0, 0.15);
}
.card-img-top{
    width: 100%;
    height: auto;
    max-height: 215px;
}

/* course.html */
.img-fluid{
    max-width: 720px ; 
    border-radius: 16px;
}
.enroll-box{
    border-radius: 16px; 
    background-color: white; 
    padding: 2%;
}
.price-text{
    font-weight: bold; 
    font-size:larger;
    color: #f26a17 !important;
}
.btn-enroll{
    background-color: #f26a17 !important; 
    color: white !important;
}
.btn-enroll:hover{
    background-color:#d65e13 !important;
}
.back-link{
    color: #f26a17 !important;
}

/* cart.html */
.cart-item{
    padding: 4%;
    border: solid #b8b5b5;
    border-radius: 16px;
    max-width: 900px;
    margin-bottom: 2%

}
.checkout-card{
    padding: 4%;
    border:#b8b5b5 solid;
    border-radius: 16px;
}
.btn-checkout{
    background-color: #f26a17 !important;
    color: white !important;
}
.btn-checkout:hover{
    background-color:#d65e13 !important;
}
.order-img{
    max-width: 260px;
}
.course-price{
    color: #f26a17;
    font-weight: bold;
}